/** @format */
:root {
	--white: hsl(0, 0%, 100%);
	--dark: hsl(208, 29%, 23%);
}
div.search-container {
	display: flex;
	justify-content: space-around;
	width: 290px;
	padding: 0.5rem;
	background-color: var(--dark);
	border-radius: 5px;
	margin-left: 0;
}
.search-container .search-icon {
	color: var(--white);
	font-size: 1.5rem;
}
.search-container input {
	width: 230px;
	border: none;
	background: none;
	color: var(--white);
	outline: none;
	font-size: 0.9rem;
}
.search-container input::placeholder {
	color: var(--white);
}
