/** @format */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
:root {
	--background: hsl(207, 26%, 17%);
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: 'Nunito Sans', sans-serif;
}
.header {
	width: 100%;
	height: 50px;
}
section {
	width: 100%;
	height: calc(100% - 0);
	background-color: var(--background);
}
section div {
	width: 85%;
	margin: auto;
	padding-top: 2rem;
}
