/** @format */
.nav {
	background-color: var(--dark-blue-element);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--white-text-element);
}
.nav div {
	width: 100px;
	color: var(--white);
	padding-right: 2rem;
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 0.9rem;
	font-weight: 600;
}

.nav h1 {
	color: var(--white);
	margin: 0 0;
	padding: 0.8rem 2rem;
	font-size: 1.1rem;
}
/* .dark-mode {
	color: red;
	border: 2px solid yellow;
} */
